.modal-content {
  background-color: #0b4f41 !important;
  min-height: 350px;
  color: white !important;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px !important;
  border: none !important
}

.modal-header {
  border: none !important;
  color: white !important;
}

.btn-close {
  color: white;
}

h4 {
  text-align: center;
}

.close {
  color: #fff !important;
  opacity: 1;
}

.wm-win-text {
  color: #7ba099;
}
